* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
}

body {
    background-color: #f2f2f2;
    padding: 20px;
}

main {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
}

.passo {
    display: none;
    text-align: center;
}

.passo.ativo {
    display: block;
}

img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    background-color: #4a8bdf;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #346cb5;
}
